body {
    margin: 0;
    background: AliceBlue;
    font-family: Inter, system-ui, sans-serif;

}
.App {
    background: white;
    border-radius: 25px;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px 20px;
    text-align: center;
  
}
