body {
    margin: 0;
    background: AliceBlue;
    font-family: Inter, system-ui, sans-serif;

}
.App {
    background: white;
    border-radius: 25px;
    max-width: 700px;
    margin: 24px auto;
    padding: 20px 20px;
    text-align: center;
}

.header {
    text-align: center;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    gap: 16px;
}

.header img {
    height: 1em;
    width: auto;
    vertical-align: middle;
}

.submission {
    background: white;
    margin: 0px auto 12px auto;
}

.submissionTitle {
    margin-top: 8px;
    margin-bottom: 12px;
}

input, textarea {
    width: 80%;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 12px;
    border: 1px solid #ddd;
    font-size: 16px;
    font-family: inherit;
  }
  
  textarea {
    resize: none;
    min-height: 80px;
  }
  
.submitButton {
    display: block;
    width: 40%;
    margin: 12px auto;
    padding: 12px;;
    border-radius: 12px;
    border: 1px solid #ddd;
    background: cornflowerblue;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin-top: 12px;
}

button {
    padding: 10px 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
  }
  
button:hover {
    opacity: 0.9;
  }
  
.buttonGroup {
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 80%;
    margin: 12px auto;
}
  
.buttonGroup button {
    flex: 1;
    background: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
}


.quotePreview {
    display: block;
    width: 80%;
    padding: 12px;
    margin: 12px auto;
    justify-content: center;
    border-radius: 12px;
    border: 1px solid #ddd;
    font-size: 20px;
    font-family: inherit;
    text-align: center;
    
}

.quoteMetadata {
    color: darkgray;
    font-size: 14px;
}